<h1>This is your dashboard</h1>
<p>You can add kids and their resources on the forms available.</p>
<p>If you have any question or doubt, please get in contact here.</p>


<div class="container mx-auto flex">
    <div class="w-1/2 mr-24">

        <%= link_to "Add Kid", new_kid_path, class: 'px-3 py-1 w-64 rounded border bg-white' %>

        <div class="mt-5">
            <h5>List of kids</h5>
            <hr>
            <kids>something here</kids>
        </div>
    </div>
    <div class="w-1/2">
        <h3>Your resources list</h3>

        <ul>
            <% current_user.resources.each do |r| %>
                <li>
                    <%= link_to r.name, r.url, target: '_blank', class: 'text-blue-500 underline', title: 'Click to open in new tab' %>
                </li>
            <% end %>
        </ul>
    </div>
</div>

