<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to erudit-kids</h1>
    <p>
        <%= @user.firstname %> has invited you to register.
    </p>
    <p>
      To register to the site, just <%= link_to "click this link", new_user_registration_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>